<template>
  <div class="actions">
    <button class="action" :class="likedClass" @click="toggleLike">
      <UilThumbsUp class="icon" />{{ ping.counts.likes }}
    </button>
    <button class="action">
      <UilTableTennis class="icon" />{{ ping.counts.pongs }}
    </button>
    <button class="action">
      <UilCommentLines class="icon" />{{ ping.counts.replies }}
    </button>
  </div>
</template>

<script>
import {
  UilCommentLines,
  UilTableTennis,
  UilThumbsUp
} from '@iconscout/vue-unicons'

export default {
  components: {
    UilCommentLines,
    UilTableTennis,
    UilThumbsUp
  },
  props: {
    ping: {
      type: Object,
      required: true
    }
  },
  data() {
    return {
      liked: false
    }
  },
  computed: {
    likedClass() {
      return this.liked ? 'bg-red hover:bg-red-700' : 'hover:bg-blue-light'
    }
  },
  methods: {
    toggleLike() {
      this.liked = !this.liked
    }
  }
}
</script>

<style scoped>
.actions {
  @apply p-2 flex flex-col text-white border-l-0 border-blue-light border-2 rounded-r;
}

.action {
  @apply p-1 text-left rounded cursor-pointer transition-all ease-in-out duration-100;
}

.icon {
  @apply mr-2 fill-current;
}
</style>