<template>
  <article class="ping-container">
    <section class="user-info-container">
      <img :src="image" alt="user-picture" class="image" />
      <h1 class="author">{{ author }}</h1>
      <a href="#" class="usertag">@{{ usertag }}</a>
    </section>
    <p class="content">{{ content }}</p>
  </article>
</template>

<script>
export default {
  props: {
    content: {
      type: String,
      default: null
    },
    usertag: {
      type: String,
      default: null
    },
    image: {
      type: String,
      default: null
    },
    author: {
      type: String,
      default: null
    }
  }
}
</script>

<style scoped>
.ping-container {
  @apply text-white border-blue-light py-5 px-4 rounded-l bg-blue-light text-lg;
}
.user-info-container {
  @apply grid gap-x-1;

  grid-template-columns: auto 1fr;
  grid-template-areas:
    'image author'
    'image usertag';
}
.author {
  @apply font-bold text-xl;

  grid-area: author;
}
.usertag {
  @apply text-gray-200;

  grid-area: usertag;
}
.usertag:hover {
  @apply underline cursor-pointer;
}
.image {
  @apply w-12 h-full;

  grid-area: image;
}
.content {
  @apply text-base mt-1;
}
</style>
