<template>
  <nav class="pingr-navbar">
    <PingrLogo class="logo" />
  </nav>
</template>

<script>
export default {}
</script>

<style scoped>
.pingr-navbar {
  @apply w-full px-10 pt-5 border-blue;
}
.pingr-navbar::after {
  @apply block bg-blue h-0.5 w-full mt-5;

  content: '';
}
.logo {
  @apply h-24 text-red fill-current;
}
</style>