<template>
  <article class="container">
    <div class="container-main">
      <Ping
        class="ping"
        :content="ping.content"
        :author="ping.author"
        :usertag="ping.usertag"
        :image="ping.pictureURL"
      />
      <PingActions class="actions" :ping="ping" />
    </div>
    <PingReplies
      v-if="ping.replies.length"
      class="replies"
      :replies="ping.replies"
    />
  </article>
</template>

<script>
import Ping from './Ping.vue'

export default {
  components: {
    Ping
  },
  props: {
    ping: {
      type: Object,
      required: true
    }
  }
}
</script>

<style scoped>
.container-main {
  @apply flex justify-end;
}
.ping {
  @apply w-full;
}
.actions {
  @apply flex-shrink-0;
}
.replies {
  @apply mt-2;
}
</style>
