<template>
  <div class="replies">
    <div v-for="reply in replies" :key="reply.id" class="reply">
      <Ping
        class="reply-content"
        :content="reply.content"
        :author="reply.author"
        :usertag="reply.usertag"
        :image="reply.pictureURL"
      />
      <PingActions :ping="reply" />
    </div>
  </div>
</template>

<script>
import Ping from './Ping.vue'

export default {
  components: {
    Ping
  },
  props: {
    replies: {
      type: Array,
      default: () => []
    }
  }
}
</script>

<style scoped>
.reply {
  @apply flex justify-end;
}

.reply + .reply {
  @apply mt-2;
}

.reply-content {
  @apply w-3/4;
}
</style>