<template>
  <div class="pingr-feed-page-container">
    <PingrHeader />
    <NuxtChild />
  </div>
</template>

<script>
export default {}
</script>

<style scoped>
.pingr-feed-page-container {
  @apply h-screen w-screen;
}
</style>