<template>
  <main>
    <div class="feed-container">
      <PingContainer
        v-for="ping in pings"
        :key="ping.id"
        class="ping-item"
        :ping="ping"
      />
    </div>
  </main>
</template>

<script>
export default {
  data() {
    return {
      pings: []
    }
  },
  created() {
    this.$store.dispatch('feed/fetchPings', this.$route.params.id)
    this.pings = this.$store.state.feed.pings
  }
}
</script>

<style scoped>
.feed-container {
  @apply h-full max-w-screen-md mt-10 mx-auto px-5;
}
.ping-item {
  @apply mt-5;
}
</style>
